/*
Color pallette, index:
camel yellow: #e9a34d
sage green: #cdd4b8
input text gray: #838380
input background eggshell: #fbf4e3
login text cream: #f7e6ce
link brown: #534741
Welcome text brown: #c69c6d
Logo navy blue: #6aa5a8
background cream: #fff4e3
dark sage: #626348;

f1c334
background cream: #f3eddd
input boxes: #f3eddd
light gray: #f6f6f6
dark gray: #363636

*/

/* -------------------index.html and login forms------ */

html, body, h1, h2, h3, h4, h5, h6, p {

font-family: "Open Sans" !important;

}



.navbar {
max-height: 35px; !important

}

.navbar-inverse {
	background-color: #e9a34d;
/*	background-color: #e9a34d; !important
*/	color: #fff; !important

}
.navbar-nav>li>a {

	color: #fff; !important

}


#navbar-header {
	color: #fff; !important

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{

	border-color: none !important;
}

.navbar-inverse {
	border: none !important;
}


.btn-primary {
	background-color: #e9a34d; !important
	border-color: #fff; !important
}


.navbar-inverse .navbar-nav>.active>a{
background-color: #e9a34d;

}

 .navbar-inverse .navbar-nav>.active>a:hover{
background-color: #e9a34d;


 }

  .navbar-inverse .navbar-nav>.active>a:focus{
background-color: #e9a34d;


  }

  .navbar-inverse .navbar-brand{

  	color: #fff;
  }

.navbar-inverse .navbar-nav>li>a{
color: #fff;

}

#profile_wrapper {
	margin-top: 50px;
	color: #000;


}


#profile_wrapper p{
	color: #000; !important


}

a, a:focus, a:hover {
	color: #6aa5a8;


}


.navbar-toggle {
background-color: #fbf4e3;

}


input.form-control,input.form-control:focus {
    border:none;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}

/* --------------------videochat.html-----*/

#videochat_wrapper {
background-image: url("../img/halftone.png");
width: 1000px;
height: 580px;
margin: auto;
padding: 40px;
border: #fff 1px;
}

#video_wrapper {
width:600px;
height:430px;
background: #000;
float: left;
color: #1B1B1B;
}

#game_wrapper {
width:300px;
height: 430px;
background: #6aa5a8;
float: right;
color: #fff;
}

#game_forms {
	padding: 25px;
text-shadow: 0 1px 3px rgba(0,0,0,.5);

/*	background-color: red;
*/

}

.hidden {
visibility: hidden;

}

#end_session_btn {

background-color: #fff;
color: rgb(60, 58, 58);
margin: 25px 0px 0px 0px;
padding: 8px;
float: right;

}

#join_button_placeholder {

color: rgb(60, 58, 58);
margin: 25px 0px 0px 0px;
padding: 8px;
float: right;

}

#next_placeholder {

color: rgb(60, 58, 58);
margin: 25px 0px 0px 0px;
padding: 8px;
float: right;

}

#next_card_placeholder {

color: rgb(60, 58, 58);
margin: 25px 0px 0px 0px;
padding: 8px;
float: right;

}

/* these need to select not ALL buttons, because then it messes with
the functionality of the next button for next game. Write separate selectors 
for the buttons on videochat.html */

/*input, select, button, textarea {

  background-color: #e9a34d;
    border-color: #e9a34d;
    width: 100%;
    }*/

/*input, select, textarea {

background-color: #6aa5a8;
    border-color: #e9a34d;
    width: 100%;
    }

*/

#card {
	width: 100%;
	max-height: 100%;
}


#card_wrapper {
	height: 300px;
}

.cntr {
margin-right:100px;

}

#publisher {
float:right;
margin-top: -100px;
}

#subscribers {


}

