
<html>
    <head>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
 </head>

    <body>
      <div id="menu_box">
      <ul>
        {% if session.get("login", False) %}
            <li class='user-name'>{{ session["login"] }}</li>
        {% endif %}

        {% if session.get("login", False) %}
           <li><a href="/logout">Log Out</a></li>
        {% else %}
            <li><a href="/">Log In</a></li>
        {% endif %}
                    </ul>
                </div>

      
    {% block body %}{% endblock %}

//gets and clear list of flash messages
{% for msg in get_flashed_messages() %}
  msg = {{ msg }}
{% endfor %}

    </body>
</html>