{% extends 'base.html' %}
{% block body %}

<link type="text/css" rel="stylesheet" href="/static/style.css"/>

<div id="newprofile_box">
    <form method="post" action="/create_new_user" id="new_user">
        <h1>Create New Profile</h1>
        <p>Input your email and pasword.</p>

        <div id="email">
            <p>Email</p>
            <input type="text" name="email">
        </div>

        <div id="pasword">
            <p>Password</p>
            <input type="text" name="password">
        </div>

        <div id="age">
            <p>Age</p>
            <input type="text" name="age">
        </div>

        <div id="zipcode">
            <p>Zipcode</p>
            <input type="text" name="zipcode">
        </div>


        <button type="submit" id="submit_button" name="submit">Submit</button> 


    </form>
</div>
 {% endblock %}