<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>

</head>
<body>
<!--outputs the flashed messages above the body and clears the flashed messages from the session-->
{% for msg in get_flashed_messages() %}
  msg = {{ msg }}
{% endfor %}

<div id="login_box">
    <form method="post" action="/login" id="login">
        <h1> Welcome to Babel Chat</h1>
        <h2> Log in. if you're a new user, hit "sign up"</h2>
        <p></p>

        <div id="email">
            <p>Email</p>
            <input type="text" name="email">
        </div>

        <div id="password">
            <p>Password</p>
            <input type="text" name="password">
        </div>

        <button type="submit" id="submit_button" name="submit">Login</button> 


        <a href="/signup">Create New Profile</a>


    </form>

</div>
</body>
</html>