{% extends 'base.html' %}
{% block body %}

<!--outputs the flashed messages above the body and clears the flashed messages from the session-->


<!-- /form boxes -->
<div id="login_box" class="container">

<img src="../static/img/lg_logo.png">
        <h1> Welcome to Babel Chat!</h1>

    <form method="post" action="/login" id="login" class="form-signin" role="form">
        {% for msg in get_flashed_messages() %}
              {{ msg }}
        {% endfor %}



        <div id="email">
            <input type="email" name="email" class="form-control" placeholder="email" required>
        </div>

        <div id="password">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <button type="submit" id="submit_button" name="submit" class="btn btn-lg btn-primary btn-block">Log in</button> 
   

          <a href="/signup">Create New Profile</a>
    </form>

</div>


{% endblock %}