<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>

</head>
<body>

<div id="languages_desired">
    <form method="post" action="/add_desired_lang" id="add_lang">
        <h1> What Language do you want to learn?</h1>
        <p></p>

         <div id="language">
            <p>Language</p>
           <select name="language">
              <option value="en-US">English</option>
              <option value="es-ES">Spanish</option>
              <option value="fr-FR">French</option>
           </select>
        </div>
            

        <div id="level">
            <p>Level</p>
           <input type="radio" name="level" value="beginner">Beginner</input>
           <input type="radio" name="level" value="intermediate">Intermediate</input>
           <input type="radio" name="level" value="advanced">Advanced</input>
        </div>


        <button type="submit" id="submit_button" name="submit">Next</button> 

      </form>

</div> 




<!-- 


drop down menu selector
      <select name="getrequestid">
          <option value="red">red</option>
          <option value="green">Green</option>
          <option value="blue">blue</option>
        </select>
        </div>


radio button selector
of whatever's selected by usr, the name will equal the value.
        <div id="radio">
        <input type="radio" name="gender" value="female">Love Music
        <input type="radio" name="gender" value="male">Hate Music
        </div> -->


</form>

</div>
</body>
 </html>