{% extends 'base_in.html' %}
{% block body %}

<div id="signup_box_wrapper">

  <div id="signup_upper_bar">
      <h1>Create New Profile</h1>  
  </div>

    <form method="post" action="/add_desired_lang" id="signup" class='form-signin' role='form'>

    {% for msg in get_flashed_messages() %}
              {{ msg }}
        {% endfor %}


         <div id="language">
             <h4> I want to practice my: </h4>

           <select name="language" required>
              <option value="en-US">English</option>
              <option value="es-ES">Spanish</option>
              <option value="fr-FR">French</option>
           </select>
        </div>
            
        <div id="level">
             <h4> Level: </h4>



           <select name="level" required>
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
           </select>
        </div>
            



 

</div>
<div id="signup_lwr_bar">
       <button type="submit" id="submit_button" name="submit">Next</button> 
    </div>
</form>

<!-- 


drop down menu selector
      <select name="getrequestid">
          <option value="red">red</option>
          <option value="green">Green</option>
          <option value="blue">blue</option>
        </select>
        </div>


radio button selector
of whatever's selected by usr, the name will equal the value.
        <div id="radio">
        <input type="radio" name="gender" value="female">Love Music
        <input type="radio" name="gender" value="male">Hate Music
        </div> -->



{% endblock %}