<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>

</head>
<body>

<div id="login_box">
    <form method="post" action="/login" id="login">
        <h1> Log in to FilmRecs!</h1>
        <p>Input your email and pasword if you're a pre-existing user. To sign up, input your email and invent a password and click "create new profile".</p>

        <div id="email">
            <p>Email</p>
            <input type="text" name="email">
        </div>

        <div id="pasword">
            <p>Password</p>
            <input type="text" name="password">
        </div>

        <button type="submit" id="submit_button" name="submit">Submit</button> 


        <a href="/new_user">Create New Profile</a>





    </form>
</div>
 </body>
 </html>