<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>

</head>
<body>

<p>name {{ name }}

   email {{ email }}
   native language {{ mother_tongue }}
   country {{ country }}
   Wants to learn: {{ lang_desired }}
 </p>

<!-- header bar, with logo/link to index, login name, logout link

profile filler pic, name info, (all database info passed as variables)

button to enter chat room and look for other people to enter

name:
email:




 -->


    </form>
</div>
 </body>
 </html>