{% extends 'base_in.html' %}
{% block body %}


<div id="profile_wrapper">

	<p>name: {{ user.name }} <br/>
	   email: {{ user.email }} <br/>
	   native language: {{ user.language.language_name }} <br/>
	   country: {{ user.country.country_name }} <br/>
	   
	    <strong><ul>Wants to learn</ul></strong>
	   {% for lang in user.Language_desired %}
	        <li>{{ lang.language.language_name }}</li>
	        <li>Reason for learning: {{ user.reason }}</li>
	   {% endfor %}<br/>

	 </p>


	<h1 style="font-size: 35px; font-color: #000; !important"> <a href="/video_chat?start={{ user.mother_tongue_code }}" target="_blank">Start A New Game</a> </h1>


	<h1 style="font-size: 35px; font-color: #000; !important"> <a href="/video_chat" target="_blank">Join the Waiting Room</a> </h1>

</div> <!--profile_wrapper -->


<!-- header bar, with logo/link to index, login name, logout link

profile filler pic, name info, (all database info passed as variables)
-->


{% endblock %}