{% extends 'base_in.html' %}
{% block body %}


<div id="signup_box_wrapper">

  <div id="signup_upper_bar">
      <h1>Create New Profile</h1>  
  </div>

<div id="login_box">
    <form method="post" action="/add_reason" id="signup" class="form-signin" role="form">
    {% for msg in get_flashed_messages() %}
              {{ msg }}
        {% endfor %}

       
        <div id="reason">
            <h4>I'm learning {{session['language'] }}:</h4>
             <select name="reason" required>
              <option value="Job">For work-related reasons.</option>
              <option value="Travel">To Travel.</option>
              <option value="Fun">Because it's fun!</option>
           </select>
        </div>




</div> 
  <div id="signup_lwr_bar">
       <button type="submit" id="submit_button" name="submit">Next</button> 
  </div>


      </form>


</div>
{% endblock %}