{% extends 'base_in.html' %}
{% block body %}


<div id="signup_box_wrapper">

  <div id="signup_upper_bar">
      <h1>Create New Profile</h1>  
  </div>


    <form method="post" action="/add_new_usr" id="signup" class='form-signin' role='form'>
    {% for msg in get_flashed_messages() %}
              {{ msg }}
        {% endfor %}

         <div id="fullname">
            <input type="text" name="fullname" class='form-control' placeholder="Full Name" required>
        </div>

         <div id="email">
            <input type="email" name="email" class="form-control" placeholder="email" required>
        </div>

        <div id="password">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>

    
<!-- 
  <div class="dropdown" id="mother_tongue">
      <a id="dLabel" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
        Mother Tongue:
        <span class="caret"></span>
      </a>

      <select name="mother_tongue">
       <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li class="active" role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
      </ul>
</div> -->


         <div id="mother_tongue_selector">
           
          <h4>I'm fluent in:</h4> <select class="select" name="mother_tongue" required>
              <option class="option_dd" value="en-US">English</option>
              <option value="es-ES">Spanish</option>
              <option value="fr-FR">French</option>
           </select>
        </div>


        <div id="country_code_selector">
            <h4>I live in:</h4>
          <select name="country_code" required>
              <option value="US">U.S.A.</option>
              <option value="ES">Spain</option>
              <option value="FR">France</option>
           </select>
        </div>

</div><!--signup_box_wrapper end div-->

  <div id="signup_lwr_bar">
       <button type="submit" id="submit_button" name="submit">Next</button> 
  </div>

</form>
<!-- 
<script>
  $("select a tag inside ul with id language-dropdown").click(function(e){
    e.preventDefault();
    console.log(this);
    var formValue = $(this).attr("data-lang-id");
    $.post("/flask_route", {data: formValue})
  })


  $("Select button").click(function(e){
    e.preventDefault();
    console.log(this);
    $("select the form tag").serialize();
    var formValue = $(this).attr("data-lang-id");
    $.post("/flask_route", {data: formValue})
  })

</script>
 -->

{% endblock %}