
{% extends 'base.html' %}
{% block body %}


<p>
    name: {{ user.name }}<br/>
    email: {{ user.email }}<br/>
    native language: {{ user.language.language_name }}<br/>
    country: {{ user.country.country_name }}<br/>

    <strong><ul>Wants to learn</ul></strong>
   {% for lang in user.Language_desired %}
        <li>{{ lang.language.language_name }}</li>
   {% endfor %}<br/>


    {% if room_name %}
        {{ user.name }} is starting room: {{ room_name }}
    {% else %}
        {{ user.name }} is in the waiting room.
    {% endif %}

  </p>
<div id="video_wrapper">VIDEO GOES HERE</div>




<div id="game_wrapper">


<div id="game_forms">

<div id="join_button_placeholder"><button id='join_room' class="hidden">Join </button></div>


<div id="next_placeholder"><button id='nxt_q' class="hidden">Next</button></div>

<div id="next_card_placeholder"><button id='nxt_card' class="hidden">Next Card</button></div>


<div id="game_content"></div>
<img src="" id="card"></img>

<h3>Messages received:</h3>
<div id="log"></div>


</div><!--game forms-->


<!-- 
 <form id="join" method='POST' action="#">
    <input type="text" name="join_room" id="join_room" placeholder="Room Name">
    <input type="submit" value="Join Room">
 </form> -->


 <!-- <form id="send_msg_to_clientA" method='POST' action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Send back to original sender"></div>
 </form> -->

<!--   <form id="broadcast_to_all" method='POST' action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast to everyone (in any room)">
    </form>

    <form id="send_msg_to_room" method='POST' action='#'>
        <input type="text" name="room_name" id="room_name" placeholder="Room Name">
        <input type="text" name="room_data" id="room_data" placeholder="Message">
        <input type="submit" value="Send to Room">
    </form>

    <form id="leave" method='POST' action='#'>
        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
        <input type="submit" value="Leave Room">
    </form> -->


</div> <!--game wrapper end div-->

<script type="text/javascript" charset="utf-8">
   
//handle connect sockets and join/leave room functionality

    var in_room = null;
    
    $(document).ready(function(){
        namespace = '/chat';

        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

        var game_content_list = []; 
        var room_name = "{{ room_name }}";
        var counter = 0;
        var placeholder_txt = "It's not your turn now. Listen to your partner and guess the word."
        var turn = false;


        //1.upon socket connection, emit the message "you're connected" to the client and send message "join" to server with room name
        socket.on('connect', function() {
            $('#log').append("<br>You're connected");
            //if initiating usr, join room in server and invite others to join
            {% if room_name %}
                //populate input box with room name if in room
                //upon connect of initiating, join room
                socket.emit('join', {start: 1, room: "{{ room_name }}" });
            {% endif %}
            });

        //5. put a button on the page for jose when 1st client starts room to join the room and pass the room name and maybe his name?)
        socket.on('invite_to_join', function(msg) {
            //invites usr in waiting room to join room via btn click
            console.log(msg);

            {% if room_name==None %}
                $("#join_room").removeClass('hidden');
                $("#join_room").html("Join " + msg.room_name);
                $("#join_room").click(function(evt){
                    socket.emit('join', {start: 2, room: msg.room_name});
                    room_name = msg.room_name;
                });
                $("#navbar").addClass("hidden");
            {% endif %}

            //append received message to log div
            $('#log').append('<br>Received #' + msg.count + ': ' + msg.data);
        });

//-------------------handles starting conversation game-----------------------


        //msg 'start_game' to server to get game content
        socket.on("start_game", function(msg) {
            $('#join_room').addClass("hidden");
            room_name=msg.room_name; 
            socket.emit('get_game_content', {room: msg.room_name});
        });


        //display 1st game element to both clients
        socket.on("display_game_content", function(msg) {
            
            //save content as list in game_content_list (global var) 
            for (var i = 0; i < msg.game_content.length; i++) {
                game_content_list.push(msg.game_content[i]);
            };
            counter = 0;
            //display first question
            $('#game_content').append(msg.game_content[counter]);
           //remove hidden class on 'next' button
           $('#nxt_q').removeClass('hidden');
        });

        //event listener for nxt-question button
        $('#nxt_q').click(function(evt){
            socket.emit("request_nxt_q", {counter:counter+1, room: room_name});
        });

        //displays next q by updated counter #
        socket.on("display_nxt_q", function(msg) {
            //get next item in list by counter
            counter = msg.counter;
            console.log(" this is the room: {{ room_name}} ");
            //if 

            $('#game_content').html(game_content_list[msg.counter]);
        });

//-------------------handles card games and game moves-----------------------

        socket.on("display_card_content", function(msg) {

            for (var i = 0; i < msg.card_content.length; i++) {
                    game_content_list.push(msg.card_content[i]);
                };
                console.log(msg.game_content_list);
           
            counter = 0;
           $('#nxt_card').removeClass('hidden');

            {% if room_name==None %}
                $('#card').attr('src', game_content_list[counter]);
                turn = true;
            {% elif room_name!=None %}
                $('#nxt_card').addClass('hidden');
                $('#game_content').html(placeholder_txt);
                turn = false;
           {% endif %}

        });

 
        //event listener for next card button
        $("#nxt_card").click(function(evt) {
            //request next card from server
            socket.emit("request_nxt_q", {counter:counter+1, room: room_name, game_type:"cards", });
        });

        
        // displays next card by updated counter #
        socket.on("display_nxt_card", function(msg) {
            //get next item in list by counter
            
            if (counter < game_content_list.length){
                //switch values for turn for each player
                turn = !turn;
                counter = msg.counter;
                //put placeholder txt, clear img src, hide nxt btn
                if (turn==false) {
                    $('#game_content').html(placeholder_txt);
                    $('#card').attr('src', '');
                    $('#nxt_card').addClass('hidden');
                }
                //clear txt area, add next card img, unhide nxt btn
                else {
                    $('#game_content').html('');
                    $('#card').attr('src', game_content_list[msg.counter]);
                    $('#nxt_card').removeClass('hidden');
                }
            }

            else {
                //clear button and image
                //call another function to play again or end session
            }
        });


           //on submit button, emit object to client @ 'my room event' in babel.py, which then sends data to 'my response' handler above
        // $('form#send_msg_to_room').submit(function(event) {
        //     socket.emit('my room event', {room: $('#room_name').val(), data: $('#room_data').val()});
        //     return false;
        // });

        // $('form#leave').submit(function(event) {
        //     socket.emit("leave", {room: $("#leave_room").val()});
        //     return false;

        // });

//handle connect sockets and join/leave room functionality
        
        // //handler for joining room
        // $('form#join').submit(function(event) {
        //     socket.emit('join', {room: $('#join_room').val()});
        //     return false;
        // });


        //handler to send input data to 'message' in server
        //  $('form#send_msg_to_clientA').submit(function(event) {
        //     socket.emit('message', {data: $('#emit_data').val()});
        //     return false;
        // });


        //handler to broadcast data to all clients
        // $('form#broadcast_to_all').submit(function(event) {
        //     socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
        //     return false;
        // });
        // 'message' passes data to this function, which appends message to div element id = log
        socket.on('output to log', function(msg) {
            console.log(msg);
            $('#log').append('<br>Received: ' + msg.data);
        });
        


    });

  


</script>



{% endblock %}