
{% extends 'base_in.html' %}
{% block body %}

<!--imports sockets.js from templates directory -->
{% block javascript %}
    <script type="text/javascript">
        {% include "sockets.js" %}
    </script>
{% endblock %}

<!--enables webrtc in this template, when usr enters videochat.html -->
  <script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js"></script>
    <script type="text/javascript">

        var apiKey = '{{ api_key }}';
        var sessionId = '{{ session_id }}';
        var token = '{{ token }}';
    </script>
    <script src="{{ url_for('static', filename='js/tok.js') }}"></script>

<div id="chat_main_wrapper">

    <div id="videochat_wrapper">

    {% for msg in get_flashed_messages() %}
                  {{ msg }}
            {% endfor %}


        <div id="game_wrapper_label" class='hidden'></div>


            <div id="video_wrapper">

                <div id="subscriber_wrapper">

                <a href='#'><img id="end_session_btn" title="end the session and exit the room" src='../static/img/end_chat_btn.png' class='hidden'></a>

                <div id="subscribers">
                
                </div><!--subscriber wrapper-->
            </div><!--video wrapper-->

                <div id="publisher_wrapper">
                    <div id="publisher"></div>
                </div>

                </div> <!--video_wrapper -->


    <div id="game_wrapper">
        
        <div id="timer"></div>

        <div id="game_title" class='hidden'></div>

        <div id='chatbox_wrapper' class='hidden'>

                        <div id='chatbox_title'>
                        <img id='txtbubble' src='../static/img/txt_bubble.png' title='chat with your buddy!'>
                        <h5>Chat</h5></div>

                        <div id="txt_msgs"></div>
                     
                            <div id="chat_input_area">

                                <input type="text" name="text_data" id="text_message" placeholder="Message">
                                <input type='button' id='send_txt_btn'value="Enter">
                            </div>    

                    </div><!--chatbox_wrapper-->

        <div id="game_forms">
                
            <div id="inx"></div>
            <img src='../static/img/gold_stars.png' id="gold_stars" class='hidden'>

            <div id="game_content"></div>

            <a href="#"><div id="card_wrapper"></div></a>

            <div id="game_buttons">
               
                <div id="start_btn_placeholder"><button id='start_btn' class="hidden">Start Playing </button>
                <button id='start_convo_btn' class="hidden">Start Talking </button>
                </div>

                <div id="next_card_placeholder">
                </div>

                <button id='join_room' class="hidden">Join</button>
             
                <div id="next_placeholder"><button id='nxt_q' class="hidden">Next</button>
                </div>
                    
            </div><!--game buttons-->


            <div id="end_of_game" class="hidden">Your improvement is an inspiration to us all. <br/> </div> 

                <div id="log"></div>

            </div><!--game forms-->
   
        </div><!--game_wrapper-->
    
    </div><!--videochat_wrapper-->

</div><!--chat main wrapper-->



{% endblock %}