
{% extends 'base_in.html' %}
{% block body %}

<!--imports sockets.js from templates directory -->
{% block javascript %}
    <script type="text/javascript">
        {% include "sockets.js" %}
    </script>
{% endblock %}

<!--enables webrtc in this template, when usr enters videochat.html -->
  <script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js"></script>
    <script type="text/javascript">

        var apiKey = '{{ api_key }}';
        var sessionId = '{{ session_id }}';
        var token = '{{ token }}';
        console.log("token1" + token);
    </script>
    <script src="{{ url_for('static', filename='js/tok.js') }}"></script>

<!-- <script src="../static/js/sockets.js" type="text/javascript" charset="utf-8"></script> -->


<!-- 
<p>
    name: {{ user.name }}<br/>
    email: {{ user.email }}<br/>
    native language: {{ user.language.language_name }}<br/>
    country: {{ user.country.country_name }}<br/>

    <strong><ul>Wants to learn</ul></strong>
   {% for lang in user.Language_desired %}
        <li>{{ lang.language.language_name }}</li>
   {% endfor %}<br/>


    {% if room_name %}
        {{ user.name }} is starting room: {{ room_name }}
    {% else %}
        {{ user.name }} is in the waiting room.
    {% endif %}


  </p> -->


<div id="videochat_wrapper">

{% for msg in get_flashed_messages() %}
              {{ msg }}
        {% endfor %}

    <div id="game_wrapper_label"></div>


    <div id="video_wrapper">

        <div id="subscriber_wrapper">
            <div id="subscribers"></div>
        </div>

        <div id="publisher_wrapper">
            <div id="publisher"></div>
        </div>

    </div> <!--video_wrapper -->


    <div id="game_wrapper">

        <div id="game_forms">
            <h4 id="game_title"></h4>
            <div id="inx">
        </div>

            <div id="start_btn_placeholder"><button id='start_btn' class="hidden">Start Playing </button>
            </div>

            <div id="join_button_placeholder"><button id='join_room' class="hidden">Join </button>
            </div>

            <div id="timer"></div>

            <div id="next_placeholder"><button id='nxt_q' class="hidden">Next</button>
            </div>

            <div id="next_card_placeholder"><button id='nxt_card' class="hidden">Next Card</button>
            </div>


            <div id="game_content"></div>

            <div id="card_wrapper"></div> 

<!-- 
            <h4>Messages received:</h4> -->
            <div id="log"></div>


        </div><!--game forms-->


    </div><!--game_wrapper-->
    <button id="end_session_btn" class='hidden'>End Session</button>


</div><!--videochat_wrapper-->





{% endblock %}